<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Noticias </title>
</head>
<body>
    <h1> Noticias </h1>

    <h2> Current Weather </h2>
    <p> City: <b>{{weather.city}}, {{weather.country}}</b></p>
    <p>{{weather.description}} | {{weather.temperature}}&#8451;</p>
    <?-- | aqui es solo pra display, no es Bitwise OR   ,  &#8451; fijate en el azul, significa signo de celsius    -->
    <form>
        <input type="text" name="city" placeholder="weather search" />
        <input type="submit" value="submit" />
    </form>

    <h2>Moneda</h2>
    {{currency_from}} = {{currency_to}} {{rate}}


    <h2> Noticias de: {{publication}} </h2>
    <form>
        <input type="text" name="publication" placeholder="search" />
        <input type="submit" value="submit" />
    </form>
    <br />

    {% for articulo in articulos %}
    <b> <a href="{{articulo.link}}">{{articulo.title}}</a></b> <br />
    <i> {{articulo.published}}</i><br />
    <p> {{articulo.summary}} </p>
    <hr />
    {% endfor %}

</body>
</html>